{% extends 'base.html.twig' %}
{% block title %}Nouvelle Offre{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1>Créer une offre de recrutement</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary mt-3">Publier</button>
    <a href="{{ path('recrutement_index') }}" class="btn btn-secondary mt-3">Annuler</a>
    {{ form_end(form) }}
</div>
{% endblock %}